<rex-tabs>
  <ng-container *ngFor="let tab of tabs">

    <ng-container *ngIf="!tab.headerTemplate && (!tab.icon || !tab.iconPosition)">
      <rex-tab [title]="tab.title">
        <ng-template typedTemplate = "content">
          <div [innerHTML]="tab.contentTemplate"></div>
        </ng-template>
      </rex-tab>
    </ng-container>

    <ng-container *ngIf="!tab.headerTemplate && tab.icon && tab.iconPosition">
      <rex-tab [title]="tab.title" [icon]="tab.icon" [iconPosition]="tab.iconPosition">
        <ng-template typedTemplate = "content">
          <div [innerHTML]="tab.contentTemplate"></div>
        </ng-template>
      </rex-tab>
    </ng-container>

    <ng-container *ngIf="tab.headerTemplate">
      <rex-tab [title]="tab.title">
        <ng-template typedTemplate = "header">
          <div [innerHTML]="tab.headerTemplate"></div>
        </ng-template>
        <ng-template typedTemplate = "content">
          <div [innerHTML]="tab.contentTemplate"></div>
        </ng-template>
      </rex-tab>
    </ng-container>

  </ng-container>
</rex-tabs>  


<!-- <rex-tabs>
  <ng-container *ngFor="let tab of tabs2">

    <ng-container *ngIf="!tab.headerTemplate && (!tab.icon || !tab.iconPosition)">
      <rex-tab [title]="tab.title">
        <ng-template typedTemplate = "content">
          <div [innerHTML]="tab.contentTemplate"></div>
        </ng-template>
      </rex-tab>
    </ng-container>

    <ng-container *ngIf="!tab.headerTemplate && tab.icon && tab.iconPosition">
      <rex-tab [title]="tab.title" [icon]="tab.icon" [iconPosition]="tab.iconPosition">
        <ng-template typedTemplate = "content">
          <div [innerHTML]="tab.contentTemplate"></div>
        </ng-template>
      </rex-tab>
    </ng-container>

    <ng-container *ngIf="tab.headerTemplate">
      <rex-tab [title]="tab.title">
        <ng-template typedTemplate = "header">
          <div [innerHTML]="tab.headerTemplate"></div>
        </ng-template>
        <ng-template typedTemplate = "content">
          <div [innerHTML]="tab.contentTemplate"></div>
        </ng-template>
      </rex-tab>
    </ng-container>

  </ng-container>
</rex-tabs>   -->

<router-outlet></router-outlet>
